@model List<Footballer>


<h2>Футболисты</h2>
<table>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Дата Рождения</th>
        <th>Пол</th>
        <th>Команда</th>
        <th>Страна</th>
    </tr>
    @foreach (Footballer f in Model)
    {
        <tr>
            <td>@f.FirstName</td>
            <td>@f.SecondName</td>
            <td>@f.BirthDay</td>
            <td>@f.Gender</td>
            <td>@f.Team?.Name</td>
            <td>@f.Country?.Name</td>
        <td>
            <a class="btn" asp-action="Edit" asp-route-id="@f.Id">Изменить</a>
        </td>
        <td>
            <form asp-action="Delete" method="post" asp-route-id="@f.Id">
                    <input class="btn" type="submit" value="Удалить" />
            </form>
        </td>
        </tr>
    }
</table>
